.example-spacer {
  flex: 1 1 auto;
}
.homeText {
  cursor: pointer;
}
.searchText {
  margin-left: 3rem;
  margin-right: 3rem;

  cursor: pointer;
}
.signUpText {
  margin-left: 3rem;
  cursor: pointer;
}
.loginText {
  cursor: pointer;
}
